<h2>About Me</h2>
<img class="myimage" src="images/me.jpg"></img>
<div class="aboutmeparagraph">
    <p>Hello! My name is Lyra Ducusin. I am from Detroit, Michigan but I was born and raise in Philippines.</p>
    <p>
      I am a Front-End web developer. I just recently graduated at intense coding <br>bootcamp called Grand Circus
      located at downtown Detroit, MI. I was able </br>to learn ajax, html5, css3, javaScript, angular js, jquery/json,
      node js, postgresSQL,<br> git/github within 8 weeks. They are one of seven Google for Entrepreneurs tech
      hubs</br>in North America, serving as a platform for start-ups and established organizations to connect.<br>
      So, far I love building cool websites and love learning more about front-end developer.</br>
    </p>
</div>
