<div id="contact">
    <form name="contactContainer" validation>
        <h4>If you would like to get in touch with me.</h4>
        <p>Fill in the form below, and I'll be back with you!</p>
        <div id="row1" data-ng-hide="formError()">
            <span>Name:</span>
            <input type="text" name="name" data-ng-model="contactData.name"
                placeholder="Your full name..." data-ng-minlength="20" required/>
            <span>Email</span>
            <input type="text" name="email" data-ng-model="contactData.email"
             placeholder="Email" data-ng-minlength="10" required/>
            <span>Phone Number</span>
            <input type="text" name="number" data-ng-model="contactData.phoneNum"
                placeholder="Phone Number">
            <span>Message</span>
            <textarea name="message" rows="4" id="inputMessage"
                data-ng-model="contactData.message" placeholder="Write something..."></textarea>
            <button type="submit" data-ng-disabled="submitButtonDisabled"
                data-ng-click="submitContactForm()*">Submit</button>
        </div>
      </form>
</div>
