
    <form>
      <h4>If you want to get in touch with me.</h4>
      <p>Fill in the form below, and I'll be back with you</p>
        <br>First Name:
        <input type="text" placeholder="Your first name...">
        </br>
        <br>Last Name:
        <input type="text" placeholder="Your last name...">
        </br>
        <br>Email:
        <input type="text" placeholder="Email">
        </br>
        <br>Phone Number:
        <input type="text" placeholder="Phone Number">
        </br>
        <br>Other comments:
        <textarea placeholder="Write something..."></textarea>
        </br>
        <button type="submit">Submit</button>

      </input>
    </form>
